* {
	border: none;
	border-radius: 0;
	font-family: "DejaVuSansM Nerd Font Mono", "DejaVu Sans Mono", "pango:monospace";
	font-size: 11px;
	min-height: 0;
	margin: 0px;
}

window#waybar {
	background: #000;
}

/* workspace buttons */
#workspaces {
	padding: 0px;
	margin: 0px;
}

#workspaces button {
	padding: 1px;
	margin: 0px;
	color: $unfocused_text;
	background: $unfocused_background;
	border: 1px solid $unfocused_border;
}

#workspaces button.visible {
	color: $secondary_text;
	background: $secondary_background;
	border-color: $secondary_border;
}

#workspaces button.urgent {
	color: $urgent_text;
	background: $urgent_background;
	border-color: $urgent_border;
}

#workspaces button.focused,
#workspaces button.active {
	color: $focused_text;
	background: $focused_background;
	border-color: $focused_border;
}

/* keybind mode */
#mode,
#submap {
	padding: 0 3px;
	color: #fdd;
	background: #900000;
	border: 1px solid #222;
}

/* modules on the right */
#custom-sync,
#custom-mail,
#mpris.playing,
#wireplumber,
#network,
#cpu,
#battery,
#memory,
#disk,
#clock {
	padding: 0 3px;
	border-right: 2px solid #333;
}

#custom-lock,
#custom-shutdown,
#custom-reboot {
  padding: 0 3px;
  font-size: 15px;
}

#custom-sync,
#custom-mail {
	color: #f33;
}

#network.disconnected {
  color: #f00;
}

#battery {
  color: #0f0;
}

#clock {
	border-right: none;
}

#custom-shutdown {
  color: #c33;
}
#custom-reboot {
  color: #f71;
}


.warning {
	color: #ffa500;
}

.critical {
	color: #f00;
}
