* {
	border: none;
	border-radius: 0;
	font-family: "DejaVuSansM Nerd Font Mono", "DejaVu Sans Mono", "pango:monospace";
	font-size: 11px;
	min-height: 0;
	margin: 0px;
}

window#waybar {
	background: #000;
}

/* workspace buttons */
#workspaces {
	padding: 0px;
	margin: 0px;
}

#workspaces button {
	padding: 1px;
	margin: 0px;
	color: #777;
	background: #222;
	border: 1px solid #323232;
}

#workspaces button.visible {
	color: #eee;
	background: #5f676a;
	border-color: #455;
}

#workspaces button.urgent {
	color: #fff;
	background: #a01;
}

#workspaces button.focused,
#workspaces button.active {
	color: #fff;
	background: #285577;
	border-color: #479;
}

/* keybind mode */
#mode,
#submap {
	padding: 0 3px;
	color: #fdd;
	background: #900000;
	border: 1px solid #222;
}

/* modules on the right */
#custom-mail,
#mpris.playing,
#wireplumber,
#network,
#cpu,
#battery,
#memory,
#disk,
#clock {
	padding: 0 3px;
	border-right: 2px solid #333;
}

#custom-lock,
#custom-shutdown,
#custom-reboot {
  padding: 0 3px;
  font-size: 15px;
}

#custom-mail {
	color: #f33;
}

#network.disconnected {
  color: #f00;
}

#battery {
  color: #0f0;
}

#clock {
	border-right: none;
}

#custom-shutdown {
  color: #c33;
}
#custom-reboot {
  color: #f71;
}


.warning {
	color: #ffa500;
}

.critical {
	color: #f00;
}
